*{
    padding: 0;
    margin: 0;
}
ul{
    display: flex;
    padding: 20px 5px;
    background-color: black;
}
ul li{
    list-style: none;
    
}
ul li a{
    text-decoration: none;
    padding: 20px 40px;
    color: white;
    font-weight: bold;
    font-family: cursive;
    font-size: 20px;
}
ul li a:hover{
    background-color: rgba(168, 158, 158, 0.521);
    padding: 20px 60px;
    /* border-radius: 50px; */
}
ul li:last-child a{
    color: rgb(245, 30, 30);
}
.last{
    margin-left: auto;
}
ul li {
    position: relative;
}

.dropdown {
    display: none;
    position: absolute;
    top: 48px; /* adjust as needed */
    background-color: rgb(75, 60, 60);
    flex-direction: column;
    padding: 10px 0;
    width: 190px;
    border-radius: 30px;
}

.dropdown li {
    padding: 20px 20px ;
    color: white;
    font-family: cursive;
}

ul li:hover .dropdown {
    display: flex;
    
}
.dropdown li:hover {
    background-color: rgb(155, 179, 171);
    cursor: pointer;
    border-radius: 30px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    color:rgb(202, 193, 204);
    font-size: 50px;
    text-decoration: underline;
}
/* Form Container */
.form-container {
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    border-radius: 15px;
    padding: 40px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    
}

/* Input Field Styling */
.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group input {
    width: 50vw;
    padding: 15px;
    border-radius: 25px;
    border: 2px solid #54aec4;
    background: rgba(22, 20, 20, 0.8);
    color: rgb(252, 248, 248);
    font-size: 16px;
    margin-top: 8px;
}

.input-group input:focus {
    border-color: #d32929a4;
    outline: none;
    background-color: rgba(22, 20, 20, 1);
}

/* Submit Button */
.button {
    font-weight: 600;
    border: none;
    background: #d32929a4;
    color: #fff;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 25px;
    transition: transform 0.4s ease;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.1);
    background: #d32929fa;
}

label{
    font-size: 24px;
    color: rgb(186, 201, 206);
    font-weight: bold;
}
body {
    background: url('https://t3.ftcdn.net/jpg/06/74/64/08/240_F_674640849_yudZp8yXIMXGsC8NRgi0Bo7DibU4aMDq.jpg') no-repeat center center fixed;
    background-size: cover;
   
}
section.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}