body {
    background: url('moviesbg.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: cursive;
    color: white;
    min-height: 100vh;
  }
  
  .movies-section {
    text-align: center;
    padding: 50px 20px;
  }
  
  .movies-section h1 {
    font-size: 40px;
    margin-bottom: 40px;
    text-shadow:0px 6px 2px #ca1c1cb0;
    color: azure;
  }
  
  .movie-card {
    display: inline-block;
    background-color: rgba(116, 106, 106, 0.6);
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    width: 220px;
    box-shadow: 0 0 10px 5px #e0cbcbaa;
    transition: transform 0.3s ease;
  }
  
  .movie-card:hover {
    transform: scale(1.05);
  }
  
  .movie-card img {
    width: 100%;
    border-radius: 12px;
  }
  
  .movie-card h2 {
    margin: 15px 0 10px;
    font-size: 20px;
  }
  
  .movie-card p {
    font-size: 14px;
    margin-bottom: 15px;
  }
  
  .watch-button {
    background-color: #d32929;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .watch-button:hover {
    background-color: #ff4d4d;
  }
  