*{
    padding: 0;
    margin: 0;
}

ul{
    display: flex;
    padding: 20px 5px;
    background-color: black;
}
ul li{
    list-style: none;
    
}
ul li a{
    text-decoration: none;
    padding: 20px 40px;
    color: white;
    font-weight: bold;
    font-family: cursive;
    font-size: 20px;
}
ul li a:hover{
    background-color: rgba(168, 158, 158, 0.521);
    padding: 20px 60px;
    /* border-radius: 50px; */
}
ul li:last-child a{
    color: rgb(245, 30, 30);
}
.last{
    margin-left: auto;
}
ul li {
    position: relative;
}

.dropdown {
    display: none;
    position: absolute;
    top: 48px; /* adjust as needed */
    background-color: rgb(75, 60, 60);
    flex-direction: column;
    padding: 10px 0;
    width: 190px;
    border-radius: 30px;
}

.dropdown li {
    padding: 20px 20px ;
    color: white;
    font-family: cursive;
}

ul li:hover .dropdown {
    display: flex;
}
.dropdown li:hover {
    background-color: rgb(155, 179, 171);
    cursor: pointer;
    border-radius: 30px;
}
.body{
    background: url('your-image-url.jpg') ;
    height: 89.35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#searchbar{
    font-size: 16px;
   border-radius: 40px;
   height: 60px;
   width: 700px;
    padding-left: 50px;
    background: rgba(22, 20, 20, 0.788);
    border: 2px solid #54aec4;
    color: rgb(252, 248, 248);
}
#searchbar:hover{
    background-color: black;
}
.button {
    text-align: center;
    font-weight: 600;
    border:none;
    background: #d32929a4 ;
    width: 250px;
    color: #fff;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 20px;
    transition: transform 0.4s ease;
}
.button:hover{
    transform: scale(1.1);
    background: #d32929fa ;

}