.plans-page {
    background: linear-gradient(rgba(0, 0, 0, 0.62), rgba(0, 0, 0, 0.62)),
        url("../../assets/images/planbg.jpg") no-repeat center center fixed;
    background-size: cover;
}

.plans-section {
    padding: 50px 20px;
    text-align: center;
}

.plans-section h1 {
    font-size: 42px;
    margin-bottom: 40px;
    color: #ddd1d3;
}

.plans-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.plan-card {
    background-color: rgba(12, 10, 10, 0.6);
    padding: 30px;
    width: 280px;
    border-radius: 20px;
    border: 2px solid #54aec4;
    transition: transform 0.4s ease, background-color 0.4s ease;
}

.plan-card:hover {
    transform: scale(1.05);
    background-color: rgba(41, 34, 34, 0.8);
}

.plan-card h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #ec5252;
}

.price {
    font-size: 24px;
    color: #54aec4;
    margin-bottom: 20px;
}

.plan-card ul {
    list-style: none;
    text-align: left;
    display: block;
    margin-bottom: 18px;
}

.plan-card ul li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #f4f4f4;
}

.plan-card .buy-now {
    margin-top: 20px;
    display: inline-block;
    background-color: #f50909;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
}

.plan-card .buy-now:hover {
    background-color: #cc7676;
    transform: scale(1.05);
}

#plan-message {
    width: fit-content;
    margin: 24px auto 0;
}
